.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    color: #fff;
    &__fs14 {
        font-size: 14px;
        line-height: 21px;
        color: #000;
        &-resume {
            color: #000!important;
        }
    }
    &__fs16 {
        font-size: 16px;
        line-height: 24px;
    }
    &__fs20 {
        font-size: 20px;
    }
    &__fs48 {
        font-size: 48px;
    }
    &__fs38 {
        font-size: 36px;
    }
}